@import url(../runo/styles.css);

@import url(./styles/header.css);

@import url(./styles/tabsheet.css);

@import url(./styles/uploader.css);

@import url(./styles/progressindicator.css);

@import url("./styles/window.css");

@import url("./styles/input.css");

@import url("./styles/layouts.css");

.v-label {
	overflow: hidden;
	text-align: justify;
}

.welcome-message {
	padding-left : 5px;
	color: #7C673C;
	text-decoration: none;
	text-shadow: 2px 1px 0 #EFD9C4;
}

.v-button-link .v-button-caption,.v-nativebutton-link .v-nativebutton-caption
	{
	text-decoration: underline;
	color: #7C673C;
	text-align: left;
	text-shadow: 2px 1px 0 #EFD9C4;
}

.v-button-link .v-button-caption:hover,.v-nativebutton-link .v-nativebutton-caption:hover
	{
	color: #2e5306;
	text-decoration: underline;
	text-align: left;
	text-shadow: 2px 1px 0 #f2fcd9;
	text-align: left;
}

.v-tooltip {
	border-radius: 10px;
	color: inherit;
	color: #7C673C;
	text-align: left;
	text-shadow: 2px 1px 0 #EFD9C4;
	background: url(images/bg-headliner.gif) repeat center;
}

.v-tooltip-text {
	padding: 3px 10px;
	color: #7C673C;
	text-align: left;
	text-shadow: 2px 1px 0 #EFD9C4;
	border: none;
	border-top: 1px solid #FFFEF5;
	border-bottom: 1px solid #FBF8D9;
	border-radius: 10px;
}

img {
	border-right: 10px;
}