.v-filterselect {
	border-radius: 20px;
	-webkit-border-radius: 20px;
}

.v-filterselect-button {
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
}

input.v-textfield,input[type="text"].v-textfield,textarea.v-textarea {
	padding: 5px;
	border-radius: 10px;
}

.v-richtextarea {
	border-radius: 10px;
	height: 150px;
}

.v-richtextarea-readonly {
	border: none;
	padding-left: 5px;
	overflow-y: visible;
}

.v-datefield input.v-textfield,.v-datefield input.v-textfield[type="text"]
	{
	height: 12px;
	width: 85%;
	border-top-left-radius: 10px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 10px;
}

.v-datefield-button {
	font-size: 13px;
	height: 23px;
	padding: 0;
	overflow: hidden;
	border: none;
	background: transparent url(../images/date-piker.png) no-repeat right 0;
	vertical-align: middle;
	border-top-left-radius: 0px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 0px;
}

.v-filterselect-suggestpopup-j-field {
	background: #B99B5F;
	background-image: url(../images/bg-headliner.gif);
	border: none;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	overflow: hidden;
	color: #7C673C;
	text-shadow: 2px 2px 0 #EFD9C4;
	font-size: 14px;
	padding: 4px 0;
}

.v-filterselect-suggestpopup-j-field .v-filterselect-suggestmenu .gwt-MenuItem-selected
	{
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	background: #B99B5F;
	background-image: url(../images/bg-navigation.gif);
	color: #2E5306;
	text-shadow: 2px 2px 0 #F2FCD9;
	height: 17px;
	line-height: 18px;
}

.v-caption-j-field {
	color: #7C673C;
	text-decoration: none;
	text-shadow: 2px 1px 0 #EFD9C4;
	padding-left: 7px;
}