.j-upload {
	background: url(../images/bg-headliner.gif) repeat center;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.j-upload .v-button .v-button-wrap {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width : auto;
	background: url(../images/bg-navigation.gif) repeat-x;
	color: #b99b5f;
	text-decoration: none;
	text-shadow: 1px 1px 0 #efd9c4;
	text-transform: lowercase;
	font-size: 11px;
}

.j-upload  .v-button-caption {
	vertical-align: middle;
	white-space: nowrap;
	font: inherit;
	color: inherit;
	line-height: normal;
}

.j-upload .v-button-caption:hover {
	color: #2e5306;
	text-shadow: 1px 1px 0 #f2fcd9;
}

.j-upload .selected .v-button-caption {
	color: #2e5306;
	text-shadow: 1px 1px 0 #f2fcd9;
}