.v-tabsheet-tabs {
	height: 37px;
	-webkit-border-radius:10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.v-tabsheet-spacertd div {
	height: 37px;
	border: 1px solid #b6bbbc;
	background: transparent url(../images/bg-navigation.gif);
	padding: 0;
}

.v-tabsheet-scroller {
	margin-top: -37px;
	float: right;
}

.v-tabsheet-scrollerPrev,.v-tabsheet-scrollerNext,.v-tabsheet-scrollerPrev-disabled,.v-tabsheet-scrollerNext-disabled {
	border: none;
	width: 12px;
	padding: 0;
	height: 37px;
	opacity: 0.9999;
	margin-top: 0px;
}

.v-tabsheet-tabitem {
	border: 1px solid #b6bbbc;
	border-right: none;
	height: 37px;
	padding: 0;
	margin-top: 0px;
	color: #b99b5f;
	text-decoration: none;
	text-shadow: 1px 1px 0 #efd9c4;
	font-size: 17px;
	line-height: 18px;
	background: #f8f9f9 url(../images/bg-navigation.gif);
}

.v-tabsheet-tabitem .v-caption {
	height: 20px;
	padding: 9px 15px 8px 15px;
}

.v-tabsheet-tabitem-selected {
	height: 37px;
	color: #2e5306;
	text-shadow: 1px 1px 0 #f2fcd9;
}

.v-tabsheet-tabitem:hover {
	color: #2e5306;
	text-shadow: 1px 1px 0 #f2fcd9;
}

.v-tabsheet-tabitem-selected:hover {
	color: #2e5306;
	text-shadow: 1px 1px 0 #f2fcd9;
}

.v-tabsheet-tabitem-selected .v-caption {
	background: transparent url(../images/bg-navigation.gif) repeat-x right top;
	height: 20px;
	padding: 9px 15px 8px 15px;
}

.v-tabsheet-content {
	background: url(../images/bg-headliner.gif) repeat center;
	border-top: none;
	-webkit-border-radius:10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.v-tabsheet-caption-close {
	float: right;
}

/* Small tab sheet style */
.small-tabsheet .v-tabsheet-tabs {
	height: 27px;
	-webkit-border-radius:10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.small-tabsheet .v-tabsheet-spacertd div {
	height: 27px;
	border: 1px solid #b6bbbc;
	background: transparent url(../images/bg-navigation.gif);
	padding: 0;
}

.small-tabsheet .v-tabsheet-scroller {
	margin-top: -27px;
	float: right;
}

.small-tabsheet .v-tabsheet-scrollerPrev,.v-tabsheet-scrollerNext,.v-tabsheet-scrollerPrev-disabled,.v-tabsheet-scrollerNext-disabled {
	border: none;
	width: 10px;
	padding: 0;
	height: 27px;
	opacity: 0.9999;
	margin-top: 0px;
}

.small-tabsheet .v-tabsheet-tabitem {
	border: 1px solid #b6bbbc;
	border-right: none;
	height: 27px;
	padding: 0;
	margin-top: 0px;
	color: #b99b5f;
	text-decoration: none;
	text-shadow: 1px 1px 0 #efd9c4;
	font-size: 14px;
	line-height: 15px;
	background: #f8f9f9 url(../images/bg-navigation.gif);
}

.small-tabsheet .v-tabsheet-tabitem .v-caption {
	height: 15px;
	padding: 7px 15px 4px 15px;
}

.small-tabsheet .v-tabsheet-tabitem-selected {
	height: 27px;
	color: #2e5306;
	text-shadow: 1px 1px 0 #f2fcd9;
}

.small-tabsheet .v-tabsheet-tabitem:hover {
	color: #2e5306;
	text-shadow: 1px 1px 0 #f2fcd9;
}

.small-tabsheet .v-tabsheet-tabitem-selected:hover {
	color: #2e5306;
	text-shadow: 1px 1px 0 #f2fcd9;
}

.v-tabsheet-tabitem-selected .v-caption {
	background: transparent url(../images/bg-navigation.gif) repeat-x right top;
	height: 20px;
	padding: 9px 15px 8px 15px;
}

.v-tabsheet-content {
	background: url(../images/bg-headliner.gif) repeat center;
	border-top: none;
	-webkit-border-radius:10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}