.j-view {
	background: url(../images/bg-body.gif) repeat center;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.j-alternate-view {
	background: url(../images/bg-headliner.gif) repeat center;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.v-caption-j-view .v-captiontext, .v-caption--alternate-view .v-captiontext {
	width: 100%;
	color: #7C673C;
	text-decoration: none;
	text-shadow: 2px 1px 0 #EFD9C4;
	text-align: center;
}

.v-vertical,.v-horizontal {
	display: inline-block;
}

.v-spacing {
	width: 5px;
	height: 5px;
}

.v-verticallayout-margin,.v-horizontallayout-margin {
	padding: 5px;
}

.v-orderedlayout-margin-left,.v-horizontallayout-margin-left,.v-verticallayout-margin-left,.v-csslayout-margin-left,.v-layout.v-margin-left
	{
	padding-left: 5px;
}

.v-orderedlayout-margin-bottom, .v-horizontallayout-margin-bottom, .v-verticallayout-margin-bottom, .v-csslayout-margin-bottom, .v-layout.v-margin-bottom
	{
	padding-bottom: 5px;
}

.v-orderedlayout-margin-right,.v-horizontallayout-margin-right,.v-verticallayout-margin-right,.v-csslayout-margin-right,.v-layout.v-margin-right
	{
	padding-right: 5px;
}

.v-orderedlayout-margin-top,.v-horizontallayout-margin-top,.v-verticallayout-margin-top,.v-csslayout-margin-top,.v-layout.v-margin-top
	{
	padding-top: 5px;
}